### The actual Excel file
EXCEL_PATH="C:\Users\quentintarantino\Movie_List.xlsx"

### Sheet where users enter movie names
SOURCE_SHEET_NAME = "Movies"

### Sheet where IMDb data is stored
BACKEND_SHEET_NAME = "Backend"

### Column/row with movie names in source sheet
SOURCE_MOVIE_COLUMN = "A"
SOURCE_STARTING_ROW = 2

### Column/row with movie names in backend sheet
BACKEND_MOVIE_COLUMN = "B"
BACKEND_STARTING_ROW = 5

### Cell to write the last update timestamp
TIMESTAMP_CELL = "B2"